pipeline_components/aws_infra/local-testing/state-machine-dynamo.asl.json
{
  "Comment": "PAVI Pipeline - With DynamoDB Job Tracking",
  "StartAt": "InitializeJob",
  "States": {
    "InitializeJob": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "pavi-jobs",
        "Item": {
          "job_id": { "S.$": "$.job_id" },
          "status": { "S": "RUNNING" },
          "stage": { "S": "INITIALIZING" },
          "created_at": { "S.$": "$$.State.EnteredTime" }
        }
      },
      "ResultPath": "$.dynamodb_init",
      "Next": "PrepareExecution",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "MarkJobFailed"
        }
      ]
    },

    "PrepareExecution": {
      "Type": "Pass",
      "Comment": "Prepare execution parameters",
      "Parameters": {
        "job_id.$": "$.job_id",
        "execution_id.$": "$$.Execution.Name",
        "input_regions.$": "$.seq_regions",
        "s3_bucket": "agr-pavi-pipeline-dev",
        "s3_work_prefix.$": "States.Format('jobs/{}/work', $.job_id)",
        "s3_results_prefix.$": "States.Format('jobs/{}/results', $.job_id)"
      },
      "Next": "UpdateStageSequenceRetrieval"
    },

    "UpdateStageSequenceRetrieval": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "pavi-jobs",
        "Key": { "job_id": { "S.$": "$.job_id" } },
        "UpdateExpression": "SET stage = :stage",
        "ExpressionAttributeValues": {
          ":stage": { "S": "SEQUENCE_RETRIEVAL" }
        }
      },
      "ResultPath": null,
      "Next": "ParallelSequenceRetrieval"
    },

    "ParallelSequenceRetrieval": {
      "Type": "Map",
      "Comment": "Retrieve sequences in parallel for each input region",
      "ItemsPath": "$.input_regions",
      "MaxConcurrency": 10,
      "Parameters": {
        "region.$": "$$.Map.Item.Value",
        "index.$": "$$.Map.Item.Index",
        "job_id.$": "$.job_id",
        "s3_bucket.$": "$.s3_bucket",
        "s3_work_prefix.$": "$.s3_work_prefix"
      },
      "Iterator": {
        "StartAt": "MockSequenceRetrieval",
        "States": {
          "MockSequenceRetrieval": {
            "Type": "Pass",
            "Comment": "Mock sequence retrieval (would be Batch job in prod)",
            "Parameters": {
              "status": "SUCCESS",
              "region.$": "$.region",
              "output_file.$": "States.Format('s3://{}/{}/seq_{}.fasta', $.s3_bucket, $.s3_work_prefix, $.index)"
            },
            "End": true
          }
        }
      },
      "ResultPath": "$.retrieval_results",
      "Next": "UpdateStageAlignment",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "ResultPath": "$.error",
          "Next": "MarkJobFailed"
        }
      ]
    },

    "UpdateStageAlignment": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "pavi-jobs",
        "Key": { "job_id": { "S.$": "$.job_id" } },
        "UpdateExpression": "SET stage = :stage",
        "ExpressionAttributeValues": {
          ":stage": { "S": "ALIGNMENT" }
        }
      },
      "ResultPath": null,
      "Next": "AlignmentStep"
    },

    "AlignmentStep": {
      "Type": "Pass",
      "Comment": "Mock alignment (would be Batch job in prod)",
      "Parameters": {
        "job_id.$": "$.job_id",
        "retrieval_results.$": "$.retrieval_results",
        "s3_bucket.$": "$.s3_bucket",
        "s3_results_prefix.$": "$.s3_results_prefix",
        "alignment_status": "SUCCESS",
        "alignment_output.$": "States.Format('s3://{}/{}/alignment.aln', $.s3_bucket, $.s3_results_prefix)"
      },
      "Next": "MarkJobComplete"
    },

    "MarkJobComplete": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "pavi-jobs",
        "Key": { "job_id": { "S.$": "$.job_id" } },
        "UpdateExpression": "SET #status = :status, stage = :stage, completed_at = :completed, result_uri = :result_uri",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": { "S": "COMPLETED" },
          ":stage": { "S": "DONE" },
          ":completed": { "S.$": "$$.State.EnteredTime" },
          ":result_uri": { "S.$": "$.alignment_output" }
        }
      },
      "End": true
    },

    "MarkJobFailed": {
      "Type": "Task",
      "Resource": "arn:aws:states:::dynamodb:updateItem",
      "Parameters": {
        "TableName": "pavi-jobs",
        "Key": { "job_id": { "S.$": "$.job_id" } },
        "UpdateExpression": "SET #status = :status, stage = :stage, failed_at = :failed",
        "ExpressionAttributeNames": {
          "#status": "status"
        },
        "ExpressionAttributeValues": {
          ":status": { "S": "FAILED" },
          ":stage": { "S": "ERROR" },
          ":failed": { "S.$": "$$.State.EnteredTime" }
        }
      },
      "End": true
    }
  }
}
